.item{
    height: 400px;
    width:280px;
    background-color:rgb(96, 61, 129);
    color: white;
    border: none;
    border-radius: 20px;
    position: sticky;
    top: 0;
}
.item-info{
    padding: 25px;
}
.item-info p{
    color: aqua;
    margin: 5px;
}
.item-btn{
    margin-top: 20px;
    width: 219px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    font-size: 17px;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
   .item{
    width: 150px;
    height: 700px;
    margin-left: 5px;
   }
   .item-info{
    padding: 18px;
}
.item-btn{
    margin-top: 30px;
    width: 119px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    font-size: 17px;
    font-weight: 700;
}
}